# Visual Studio
.vs/
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

# User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
